/*	margin-top:20px;
}*/
.paveiksliukoDydis{
	width: 100%;
    padding-top: 10px;

}
.zirmunuPhotoIndex{
	width: 100%;
    padding-top: 10px;
    height: 165px
}
.tekstoLygiavimas{
	text-align: center;
	font-family: 'Anton', sans-serif;
	font-size: 20px

}
.mygtukoPlotis{
	width: 100%;
}
.remai{
	border-style: solid;
	border-color: black;
    border-width: 100%;
    margin: 5%;
}


h3{
	text-align: center;
}
/*lenteles su tabais pradzia*/
body{
	margin:auto;
	background: gray;
	font-family: arial;
}
.nav_bar{
	margin:auto;
	border-bottom: 1px solid black;
	width:83%;
	padding: 0px 20x 0px 20px;
	height: 64px;
	margin-top: 30px;
}
.ul {
	padding: 0px;
	list-style: none;

  }
  .nav_bar ul li{
  	float: left;
  	font-size: 16px;
  	font-weight: bold;
  	margin-right: 4px;
  }
.nav_bar ul li a{
	text-decoration: none;
	background: #c62828;
	border: 1px solid black;
	border-bottom:none;
	padding: 19px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	width: 135px;
	display: block;
	text-align: center;
}
.nav_bar ul li a:hover{
text-decoration: none;
color: red;
background: white;
-moz-transition: background-color 200ms ease-in;
-webkit-transition:background-color 200ms ease-in;
-ms-transition: background-color 200ms ease-in;
-o-transition: background-color 200ms ease-in;
transition: background-color 200ms ease-in;

}
.nav_bar ul li a#onlink{
	background: white;
	color:black;
  border-bottom: 1px solid white;

}
.nav_bar ul li a#onlink:hover{
		background: white;
		color:black;
	
}
.main_container{
	margin: auto;
	width:83%;
	padding: 20px;
	border: 1px solid black;
	min-height: 400px;
	border-top: none;
	background-color: white;
}
.main_container p{
	font-size: 14px;
	margin: 0px;
	padding: 0px;
}
/*lenteles su tabais pabaiga */

.small_container{
	background-color: white;
	width: 100%;
	border: 1px solid black;

}


.tekstoLygiavimasTreciameLape {
	margin: 10px
	width: 100%; 
	
}
.paveiksliukoDydis3Lape{
	width: 100%;
    margin-right: 20px;
    margin-top:  10px;
}
.remaiTreciameLape{

	border-color: black;
    border-width: 100%;
    margin: 2%;
}

.photoDydis{
	width: 100%
	height:50%;
}
.karuselesDydis{
	width: 100%
	margin: auto;
}

.paveiksliukoDydis4{
	width: 80%;
	margin:30px;
border: solid black 3px;

}
.paragrafas4{
	background-color: white;
}
.remaiLape{
	width: 100%;
	border-style: solid;
	border-color: black;
    border-width: 100%;
}

.fonospalva{
	background-color: #bdbdbd;
}
#tarpas{
	background-color:#b71c1c;
}


.newsnaujamiestis{
	width: 130%;
	margin: 20px;
}
	
.newsmygtukas{

	margin:20px;
	margin-top: 60px;
	margin-left: 10px;
}

.newszirmunai{
	width: 130%;
	margin: 20px;
	
	} 


.carousel .carousel-item{
	width: 100%;
    height: 400px;
    position: absolute;
    top: 0;
    bottom: 10;
    left: 0;
}
.karuselesNuotrauka{
	width: 100px
	height: 250px
}
.logoDydis{
	height: 80px
}

.fabuTekstoDydis {
	font-size: 5px;
}
.fabuPaveiksliukoDydis{
	
	max-width: 130%;
	margin-top: 20px;
	margin-left: 10px
}
.pavnaujamiestis{
	margin: 20px;
	margin-left: 250px;

}

.tab2naujamiestis {
 
    padding -left: 100px;
    width: 100%;
}

.sarasiukas{
	list-style-type: circle;
}
.tarpas{
	margin-top: 50px;
}
.siauresMiestelis{
	padding-right: 15%;
	margin-left: 10%;
	width:95%;
}
.fabaiPhoto{
	
	width:95%;
	margin-left: 2%;
}
.pilis{
	height: 284px
	width:213px;
}

#chartContainer{
width: 100%; height: 400px	
}
#chart{
	width: 100%; height: 400px
}

.zemelapis{
	width: 100%;
	height:315px;
}
